/*----------------------------------*\
  #GOOGLE FONTS
\*----------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto:wght@300;700&display=swap");


/*----------------------------------*\
  #VARIABLES
\*----------------------------------*/

:root {

  /**
   * COLORS
    */

  --color-black: #000;
  --color-black-hover: #151515;
  --color-white: #fff;
  --color-body-text: #000;
  --color-heading: #111111;
  --color-newsletter-bg: #F4E1E1;
  --color-bg-text: #EFF1F3;
  --color-lines: #D8D8D8;

  /**
   * TYPOGRAPHY
    */

  /* font family */
  --ff-title: 'Nanum Myeongjo', serif;
  --ff-body: 'Roboto', sans-serif;

  /* font size */
  --fs-base: 62.5%;
  --fs-body: 1.3rem;
  --fs-headline: 1.4rem;
  --fs-title-300: 1.8rem;
  --fs-title-400: 3rem;
  --fs-title-500: 4rem;
  --fs-text-btn: 1.5rem;
  --fs-filled-btn: 1.4rem;

  /* line height */
  --lh-body: 1.6em;
  --lh-title-400: 1.275em;
  --lh-title-500: 1.3em;

  /* letter spacing */
  --ls-body: 0.05em;

  /**
   * TRANSITIONS
    */

  --transition-time-300: .3s;
  --transition-time-400: .4s;
  
  /**
   * CONTAINER
    */

  --container-400: 1420px;
  --side-space-fixed: 15px;
  --side-space-dynamic: 0;
  --block-text-space-400: 5rem;
  --block-text-space-600: 7.5rem;
}


/*----------------------------------*\
  #RESET
\*----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button{
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-white);
  color: var(--color-body-text);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-family: var(--ff-body);
  letter-spacing: var(--ls-body);
}

.body-wrapper {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}


/*----------------------------------*\
  #TYPOGRAPHY
\*----------------------------------*/

.section-title {
  font-family: var(--ff-title);
}

.section-title,
.headline{
  letter-spacing: 0;
  text-transform: uppercase;
}

.headline {
  font-size: var(--fs-headline);
  font-weight: 300;
  line-height: 1.2;
  color: var(--color-black);
}

.title-300{
  font-size: var(--fs-title-300);
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: .7rem;
}

.title-400{
  font-size: var(--fs-title-400);
  font-weight: 700;
  line-height: var(--lh-title-400);
  color: var(--color-black);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.title-500{
  font-size: var(--fs-title-500);
  font-weight: 400;
  line-height: var(--lh-title-500);
  color: var(--color-heading);
  margin-top: 2.2rem;
  margin-bottom: 2rem;
}


/*----------------------------------*\
  #REUSED STYLES
\*----------------------------------*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--side-space-fixed);
}

.main-grid{
  display: grid;
}

.row.has-bg-text{
  position: relative;
}

.row.has-bg-text > * {
  z-index: 2;
}

.bg-text{
  display: none;
  position: absolute;
  width: calc(100% / 5);
  font-size: var(--side-space-dynamic);
  color: var(--color-bg-text);
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}

.bg-text span {
  font-size: 2.14em;
  transform: rotate(90deg);
  display: block;
  position: relative;
  right: 2px;
}


/*----------------------------------*\
  #COMPONENTS
\*----------------------------------*/

/**
  * BUTTONS
   */

.text-btn {
  display: inline-flex;
  margin-top: 2.5rem;
  font-size: var(--fs-text-btn);
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  transition: transform var(--transition-time-300), opacity var(--transition-time-300);
}

.text-btn:hover,
.text-btn:focus-visible{
  opacity: .8;
  transform: translateY(-3px);
}

.filled-btn{
  display: inline-flex;
  font-size: var(--fs-filled-btn);
  font-weight: 700;
  background-color: var(--color-heading);
  color: var(--color-white);
  line-height: 41px;
  padding: 0 2.2rem;
  transition: transform var(--transition-time-300), background-color var(--transition-time-300);
}

.filled-btn:hover,
.filled-btn:focus-visible{
  background-color: var(--color-black);
  transform: scale(1.05);
}


/**
  * VIDEO POPUP
   */

.video-popup-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-popup-image-wrapper .video-popup-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-popup-image-wrapper .video-popup-icon {
  width: 65px;
  height: 65px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color (--transition-time-400);
}

.video-popup-image-wrapper .video-popup-icon:hover,
.video-popup-image-wrapper .video-popup-icon:focus-visible{
  background-color: black;
}

.video-popup-image-wrapper .video-popup-icon img {
  max-width: 15px;
}

.video-popup-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--side-space-fixed);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 10;
}

.video-popup-wrapper .video-popup-container {
  width: 100%;
  position: relative;
  max-width: 1200px;
}

.video-popup-wrapper video{
  width: 100%;
}

.video-popup-wrapper .video-popup-close {
  width: 25px;
  height: 25px;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 100%;
}

.video-popup-wrapper .video-popup-close::before,
.video-popup-wrapper .video-popup-close::after{
  content: "";
  width: 70%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-popup-wrapper .video-popup-close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.video-popup-wrapper .video-popup-close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}


/*----------------------------------*\
  #LINES
\*----------------------------------*/

.lines-wrapper {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.lines-wrapper .container{
  padding: 0 var(--side-space-fixed);
}

.lines-wrapper * {
  height: 100%;
}

.lines-wrapper .row {
  display: flex;
  justify-content: space-between;
}

.lines-wrapper .line {
  width: 1px;
  background-color: var(--color-lines);
}


/*----------------------------------*\
  #PRELOADER
\*----------------------------------*/


#preloader::before,
#preloader::after{
  position: fixed;
  top: 0;
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--color-heading);
  transition: transform 1200ms cubic-bezier(0.67, 0.01, 0.32, 1);
  z-index: 10;
}

#preloader::before{
  transform-origin: left;
  left: 0;
}

#preloader::after{
  transform-origin: right;
  left: 50%;
}

#preloader.active::before,
#preloader.active::after{
  transform: scaleX(0);
}


/*----------------------------------*\
  #HEADER
\*----------------------------------*/

#header{
  padding: 15px var(--side-space-fixed);
}

#header .container-full{
  padding: 0 var(--side-space-fixed);
}

#header .row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo a {
  display: flex;
}

#header .logo img {
  max-width: 60px;
}

#header .menu-toggle {
  position: relative;
  z-index: 5;
}

#menu-toggler {
  width: 2.5rem;
  height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu-toggler span{
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
}

.active-offcanvas #menu-toggler span{
  background-color: var(--color-white);
}


/*----------------------------------*\
  #OFFCANVAS MENU
\*----------------------------------*/

.offcanvas-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  visibility: hidden;
  transition: visibility .6s;
}

.offcanvas-menu.active{
  visibility: visible;
}

.offcanvas-menu::before,
.offcanvas-menu::after{
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
}

.offcanvas-menu::before{
  top: 0;
}

.offcanvas-menu::after{
  top: 50%;
}

.offcanvas-menu.active::before,
.offcanvas-menu.active::after{
  animation: offcanvas-in .3s;
  animation-fill-mode: both;
}

.offcanvas-menu.active::after{
  animation-delay: 150ms;
}

.offcanvas-menu.inactive::before,
.offcanvas-menu.inactive::after{
  animation: offcanvas-out .5s;
  animation-fill-mode: both;
  transform-origin: right;
}

@keyframes offcanvas-in {
  from{
    transform: scaleX(0);
    background-color: var(--color-white);
  }

  to{
    transform: scaleX(1);
    background-color: var(--color-heading);
  }
}

@keyframes offcanvas-out {
  from{
    transform: scaleX(1);
    background-color: var(--color-heading);
  }
  
  to{
    transform: scaleX(0);
    background-color: var(--color-white);
  }
}



/*----------------------------------*\
  #HOME SECTION
\*----------------------------------*/

.home-section .content-column{
  margin: 5rem 0;
}


/*----------------------------------*\
  #NEW SECTION AND BOHO SECTION
\*----------------------------------*/

.new-section .row,
.boho-section .row {
  padding-top: 7rem;
}

.new-section .content-column,
.boho-section .content-column {
  margin-bottom: 5rem;
}


/*----------------------------------*\
  #NEWSLETTER CALL TO ACTION
\*----------------------------------*/

.newsletter-section{
  padding: 7rem 0;
}

.newsletter-section .newsletter-call-to-action{
  background-color: var(--color-newsletter-bg);
  padding: 2.5rem 3.5rem;
}

.newsletter-section button{
  margin-top: 1.5rem;
}


/*----------------------------------*\
  #SIDE IMAGES
\*----------------------------------*/


.side-images-section .content-column{
  padding: 7rem 0;
}


/*----------------------------------*\
  #BLOG POSTS
\*----------------------------------*/


.blog-posts-section {
  padding: 7rem 0;
}

.blog-posts-section > .container > .row{
  padding-bottom: 5rem;
}

.blog-posts-section > .container > .row:last-child{
  padding-bottom: 0;
}

.blog-posts-section .blog-post-block .blog-post-content {
  padding-top: 3rem;
}


/*----------------------------------*\
  #FOOTER
\*----------------------------------*/


#footer{
  padding: 7rem 0;
  background-color: rgb(0 0 0 / 3%);
}

#footer .main-grid {
  row-gap: 3rem;
}

#footer .footer-logo img {
  max-width: 90px;
}

#footer a {
  text-decoration: underline;
}


/* ANCHOR Breakpoints */

/*----------------------------------*\
  #BREAKPOINTS
\*----------------------------------*/

@media screen and (min-width: 768px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {
    /**
   * CONTAINER
    */

    --side-space-fixed: 30px;
  }


  /*----------------------------------*\
    #HEADER
  \*----------------------------------*/


  #header {
      padding: 25px var(--side-space-fixed);
  }

  #header .logo img {
    max-width: 100px;
  }


  /*----------------------------------*\
    #NEWSLETTER CALL TO ACTION
  \*----------------------------------*/

  .newsletter-section .newsletter-call-to-action{
    padding: 4.5rem 5.5rem;
  }


  /*----------------------------------*\
    #BLOG POSTS
  \*----------------------------------*/

  .blog-posts-section .blog-post-block .blog-post-content {
    padding: var(--block-text-space-400) var(--block-text-space-400) 0;
  }


  /*----------------------------------*\
    #FOOTER
  \*----------------------------------*/

  #footer .main-grid{
    grid-template-columns: repeat(5, 1fr);
  }

  #footer .footer-logo {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
  }

  #footer .footer-about {
    grid-column: 2 / 4;
  }

  #footer .footer-contact {
    grid-column: 4 / 6;
  }

  #footer .footer-about,
  #footer .footer-contact{
    padding: 0 3rem;
  }

}

@media screen and (min-width: 992px) {


  /*----------------------------------*\
    #HOME SECTION
  \*----------------------------------*/

  .home-section .main-grid {
    grid-template-columns: 1fr 1fr;
  }

  .home-section .content-column {
    grid-column: 1 / 3;
    max-width: 50%;
  }

  .home-section .video-popup-column {
    height: 80%;
    align-self: end;
  }


  /*----------------------------------*\
    #NEW SECTION AND BOHO SECTION
  \*----------------------------------*/

  .new-section .row,
  .boho-section .row {
    padding-top: 15rem;
  }

  .text-image-sided .main-grid {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  
  .new-section .main-grid {
    grid-auto-flow: column;
  }

  .new-section .image-column{
    grid-column: 1 / 4;
  }

  .new-section .content-column {
    grid-column: 4 / 6;
    margin-bottom: 0;
    padding: 0 0 0 var(--block-text-space-600);
  }

  .boho-section .content-column{
    grid-column: 1 / 4;
    margin-bottom: 0;
    padding: 0 var(--block-text-space-600);
  }

  .boho-section .image-column{
    grid-column: 4 / 6;
  }


  /*----------------------------------*\
    #NEWSLETTER CALL TO ACTION
  \*----------------------------------*/

  .newsletter-section{
    padding: 15rem 0;
  }

  .newsletter-section .main-grid{
    grid-template-columns: repeat(5, 1fr);
  }

  .newsletter-section .newsletter-call-to-action{
    grid-column: 2 / 5;
  }


  /*----------------------------------*\
    #SIDE IMAGES
  \*----------------------------------*/

  .side-images-section .main-grid {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .side-images-section .image-column.left-image {
    display: none;
  }

  .side-images-section .content-column{
    grid-column: 1 / 3;
    padding: 0 var(--block-text-space-400);
  }

  .side-images-section .image-column.right-image {
    grid-column: 3 / 6;
  }


  /*----------------------------------*\
    #BLOG POSTS
  \*----------------------------------*/

  .blog-posts-section{
    padding: 23rem 0;
  }

  .blog-posts-section > .container > .row {
    padding-bottom: 18rem;
  }

  .blog-posts-section .main-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .blog-posts-section .row.right-side .blog-post-block {
    grid-column: 2 / 6;
  }

  .blog-posts-section .row.left-side .blog-post-block {
    grid-column: 1 / 5;
  }


  /*----------------------------------*\
    #FOOTER
  \*----------------------------------*/

  #footer{
    padding: 14.5rem 0;
  }

  #footer .footer-about,
  #footer .footer-contact{
    padding: 0 var(--block-text-space-400);
  }

}


@media screen and (min-width: 1200px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {

    /**
    * TYPOGRAPHY
      */

    /* font size */
    --fs-title-400: 3.8rem;
    --fs-title-500: 6rem;
  }

  /*----------------------------------*\
    #REUSED STYLES
  \*----------------------------------*/

  .container {
    padding: 0 var(--side-space-fixed);
  }

  /*----------------------------------*\
    #COMPONENTS
  \*----------------------------------*/

  /**
    * BUTTONS
    */

  .text-btn {
    margin-top: 3.5rem;
  }


  /*----------------------------------*\
    #TYPOGRAPHY
  \*----------------------------------*/

  .title-400{
    margin-top: 2.2rem;
    margin-bottom: 5.2rem;
  }

  .title-500{
    margin-top: 3.2rem;
    margin-bottom: 2.7rem;
  }


  /*----------------------------------*\
    #HOME SECTION
  \*----------------------------------*/

  .home-section .main-grid{
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .home-section .content-column {
    margin: 0;
    padding: 0 var(--block-text-space-400);
    max-width: unset;
  }

  .home-section .video-popup-column {
    grid-column: 3 / 4;
    height: 60%;
  }

  .home-section .image-column {
    grid-column: 4 / 6;
  }


  /*----------------------------------*\
    #NEW SECTION AND BOHO SECTION
  \*----------------------------------*/

  .new-section .row {
    padding-top: 26rem;
  }

  .new-section .content-column{
    padding-right: 6rem;
  }

  .new-section .bg-text {
    display: block;
    left: 0;
    top: 25px;
  }

  .boho-section .row {
    padding-top: 29rem;
  }

  .boho-section .content-column p {
    max-width: 420px;
  }

  .boho-section .bg-text{
    display: block;
    right: 0;
    top: 25px;
  }

  /*----------------------------------*\
    #NEWSLETTER CALL TO ACTION
  \*----------------------------------*/

  .newsletter-section .newsletter-call-to-action{
    display: flex;
  }

  .newsletter-section .newsletter-call-to-action .content-column{
    padding-right: 10rem;
  }


  /*----------------------------------*\
    #SIDE IMAGES
  \*----------------------------------*/

  .side-images-section .content-column {
    grid-column: 2 / 4;
  }

  .side-images-section .image-column.left-image {
    display: block;
    grid-column: 1 / 2;
    margin-left: calc(var(--side-space-fixed) * -1);
  }

  .side-images-section .image-column.right-image {
    grid-column: 4 / 6;
    margin-right: calc(var(--side-space-fixed) * -1);
  }

  .side-images-section .image-column {
    height: 600px;
  }

  .side-images-section .image-column img{
    height: 100%;
    width: 100%;
    max-width: unset;
  }

  /*----------------------------------*\
    #BLOG POSTS
  \*----------------------------------*/

  .blog-posts-section .blog-post-block .blog-post-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--block-text-space-400) 0 0;
  }

  .blog-posts-section .blog-post-block .blog-post-content .blog-post-heading,
  .blog-posts-section .blog-post-block .blog-post-content .blog-post-intro{
    padding: 0 var(--block-text-space-400);
  }


  /*----------------------------------*\
    #FOOTER
  \*----------------------------------*/

  #footer .footer-logo {
    grid-column: 2 / 3;
  }

  #footer .footer-logo img {
    max-width: 135px;
  }

  #footer .footer-about {
    grid-column: 3 / 4;
  }

  #footer .footer-contact {
    grid-column: 4 / 5;
  }

  #footer .footer-about,
  #footer .footer-contact{
    padding: 0 3rem;
  }

}


@media screen and (min-width: 1530px) {

  /*----------------------------------*\
    #REUSED STYLES
  \*----------------------------------*/

  .bg-text span {
    font-size: 2.1em;
  }
}


@media screen and (min-width: 1600px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {

    /**
    * TYPOGRAPHY
      */

    /* font size */
    --fs-title-400: 4.2rem;
    --fs-title-500: 7rem;

    /* line height */
    --lh-title-400: 1.375em;
    --lh-title-500: 1.5em;

    /**
    * CONTAINER
      */
    --container-400: 100%;
    --block-text-space-400: 8rem;
    --block-text-space-600: 11.5rem;
  }

  /*----------------------------------*\
    #REUSED STYLES
  \*----------------------------------*/

  .container {
    padding: 0 var(--side-space-dynamic);
  }

  .bg-text span {
    font-size: 1.7em;
  }


  /*----------------------------------*\
    #LINES
  \*----------------------------------*/

  .lines-wrapper .container {
    padding: 0 var(--side-space-dynamic);
  }

  /*----------------------------------*\
    #HEADER
  \*----------------------------------*/

  #header {
    padding: 67px 0;
    width: 100%;
    position: absolute;
  }

  #header .container-full {
    padding: 0;
  }

  #header .row {
    align-items: flex-start;
  }

  #header .menu-toggle {
    padding-top: 18px;
  }

  #header .logo, 
  #header .menu-toggle {
    flex: 0 0 var(--side-space-dynamic);
    display: flex;
    justify-content: center;
  }


  /*----------------------------------*\
    #HOME SECTION
  \*----------------------------------*/
  .home-section .image-column img {
    height: 980px;
  }


  /*----------------------------------*\
    #NEW SECTION AND BOHO SECTION
  \*----------------------------------*/

  .boho-section .content-column p {
    max-width: 500px;
  }


  /*----------------------------------*\
    #SIDE IMAGES
  \*----------------------------------*/

  .side-images-section .image-column.left-image {
    margin-left: calc(var(--side-space-dynamic) * -1);
  }

  .side-images-section .image-column.right-image {
    margin-right: calc(var(--side-space-dynamic) * -1);
  }

  .side-images-section .image-column {
    height: 780px;
  }

}


@media screen and (min-width: 1800px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {

    /**
    * TYPOGRAPHY
      */

    /* font size */
    --fs-title-400: 4.8rem;
    --fs-title-500: 8rem;
  }

  /*----------------------------------*\
    #NEW SECTION AND BOHO SECTION
  \*----------------------------------*/

  .boho-section .content-column p {
    max-width: 550px;
  }
}